<h1 id="beanworks-xero-integration">Beanworks Xero Integration</h1>
<p>This is solution designed to extract both the list of Accounts, and the list of Vendors, from a demo sample company, and store them on disk. The system is called <strong>Xero Extractor</strong></p>
<p>A HTML version of this file is available at <a href="./readme.html">readme.html</a></p>
<h2 id="business-requirements">Business requirements</h2>
<p>When designing this solution, there are some assumptions that I made, which are detailed below</p>
<p>▼ Assumptions</p>
<ul>
<li>The list of Accounts and the list of Vendors are to be stored separately. It could be easier if later we add more data points from Xero, such as invoices, then we can quickly process the data points by filename.</li>
<li>We are using Xero’s Oauth2 APIs, because there seems to be no choice to choose Oauth1 when creating account.</li>
<li>The client has an interface to manually grant access to Beanworks using Xero’s Oauth2 flow.</li>
<li>Beanworks has a datastore to store access and refresh tokens from Xero, and a service to refresh access tokens. The reason for this is we need a centralized place to secure refresh tokens due to their fragile nature.</li>
</ul>
<p><strong>Xero issue</strong></p>
<ul>
<li>Basically, the way Oauth2 refresh token is being implemented with Xero right now is that the old refresh token is invalidated after refresh request and a new refresh token is issued along with a new access token</li>
<li>This is a serious issue because now we have to make sure that we store working refresh token in the Beanworks system somewhere.
<ul>
<li>The reasons why we don’t handout refresh token casually to other services (so that they can just use the refresh token themselves) is because
<ol type="1">
<li>If the service goes down after making a refresh token request, we lose the new refresh token and the customer will have to reauthorize Beanworks on Xero</li>
<li>If 2 services are making refresh token at the same time or the request times are close to each other, and suppose they can update the new refresh token back to the Token store successfuly, we have a race condition where the newer refresh token might be lost.</li>
</ol></li>
</ul></li>
<li>Consequently, we don’t handout refresh token, but manage it in a centralized place. The refresh token will be refreshed only at that centralized place</li>
</ul>
<p>More information about the refresh token issue with Xero is here <a href="https://community.xero.com/developer/discussion/105714701">https://community.xero.com/developer/discussion/105714701</a></p>
<ul>
<li>They’re fixing it. Looks like they just added (on Jan 30 2020) a grace period of 30 minutes , where you can still use the old refresh token. It’s just a work-around, and it does not change our solution</li>
<li>It is a serious blocking issue for some people to move to Oauth2</li>
<li>Many people suggest immortal refresh token</li>
</ul>
<h1 id="high-level-flow">High-level flow</h1>
<p><strong>Xero Extractor</strong> is a stand-alone web service designed to be ran internally and aside Invoice System. It has an API (no user interface) that other system can call to request extraction of data points from Xero system.</p>
<p>Below is a high-level interaction flow of one way that Xero Extractor can be integrated in Beanworks system.</p>
<p><img src="./imgs/high-level-flow.png" /></p>
<h3 id="explanation-of-each-steps">Explanation of each steps</h3>
<p>▼ Pre main flow</p>
<ol type="1">
<li>Client is expected to authorize Beanworks for Xero access using an entry point from Beanworks system or website</li>
<li>After the client authorizes Beanworks, Beanworks can get a refresh token and an access token from Xero. Step 1 and 2 are actually more back and forth than represented here and they follow Oauth2 authentication and authorization flow.</li>
<li>Beanworks system will store the tokens for the corresponding client id in a Token store where other services can access</li>
</ol>
<p>▼ Main flow</p>
<ol start="4" type="1">
<li>When a mail from the client arrives at the Invoice System, it will trigger the approval process.</li>
<li>Invoice System recognizes that the mail is from a client with Xero, so it retrieves Xero’s access token and client id from the Token Store. Note that the Token store is not just a database, it will be in charge of refreshing the access and refresh tokens so that the access token is always valid when being handed out to Invoice System</li>
<li>Invoice System sends a request to Xero Extractor, along with the client id and access token.</li>
<li>Xero Extractor extracts the necessary data points from Xero, in this case Accounts and Vendor list</li>
<li>Xero Extractor writes to disk, in this case, we assume a Shared NFS</li>
<li>Invoice System retrieves the files and parses them accordingly.</li>
</ol>
<p>▼ Extra flow</p>
<ol start="10" type="1">
<li>Maybe there is a Notification System or Message Queue somewhere so Xero Extractor can push <code>created</code> events to it.</li>
<li>Some other service, for example File Archiver will pick up the events</li>
<li>File Archiver will pick up the newly generated files</li>
<li>File Archiver will push them to Amazon S3</li>
</ol>
<h2 id="api">API</h2>
<h3 id="extract">Extract</h3>
<p>▼ Overview</p>
<table>
<colgroup>
<col style="width: 48%" />
<col style="width: 51%" />
</colgroup>
<tbody>
<tr class="odd">
<td><strong>URL</strong></td>
<td>https://x.x.x.x/extract</td>
</tr>
<tr class="even">
<td><strong>Methods supported</strong></td>
<td>POST</td>
</tr>
<tr class="odd">
<td><strong>Body</strong></td>
<td>• xero_tenant_id: The tenant id we get from https://api.xero.com/connections <br> • access_token: A working access token to the tenant</td>
</tr>
<tr class="even">
<td><strong>Response</strong></td>
<td>JSON data: { uris: [&lt;filePaths&gt;] }, where filePaths are the path of the written files on disk</td>
</tr>
</tbody>
</table>
<p>▼ File name</p>
<p>The format of the file names is: <code>xero-&lt;datapointname&gt;.&lt;tenant-id&gt;.&lt;ISO 8601 format&gt;.json</code>.</p>
<p>Example file names: <code>xero-accounts.3fdb10ce-66d7-4ef4-b494-c18ac4efe084.20200130T051550829Z.json</code>, <code>xero-contacts.3fdb10ce-66d7-4ef4-b494-c18ac4efe084.20200130T051025119Z.json</code></p>
<p>▼ Error code</p>
<p>In case of error, the service will return HTTP code 4xx or 5xx, with the following JSON data in the body:</p>
<pre><code>{
    status: &lt;http_status&gt;,
    errorCode: &lt;application-specific error code&gt;
    data: &lt;error data&gt;
}</code></pre>
<ul>
<li>HTTP 400
<ul>
<li>Incorrect inputs from user, e.g. incorrect access token
<ul>
<li><code>errorCode</code>: 2</li>
<li><code>data</code>: Error data from Xero</li>
</ul></li>
</ul></li>
<li>HTTP 500
<ul>
<li>Timeout
<ul>
<li><code>errorCode</code>: 1</li>
<li><code>data</code>: “Timeout”</li>
</ul></li>
<li>Exceptions and other errors
<ul>
<li><code>errorCode</code>: 0</li>
<li><code>data</code>: message or error stack</li>
</ul></li>
</ul></li>
</ul>
<h3 id="health">Health</h3>
<p>▼ Overview</p>
<table>
<tbody>
<tr class="odd">
<td><strong>URL</strong></td>
<td>https://x.x.x.x/health</td>
</tr>
<tr class="even">
<td><strong>Methods supported</strong></td>
<td>GET</td>
</tr>
<tr class="odd">
<td><strong>Body</strong></td>
<td>NONE</td>
</tr>
<tr class="even">
<td><strong>Response</strong></td>
<td>Status 200</td>
</tr>
</tbody>
</table>
<p>This endpoint is for health checking. It does not check the service true health (yet).</p>
<h1 id="setup-instructions">Setup Instructions</h1>
<p>The setup was tested on MacOS, but it should work on Linux,Windows with some slight modifications.</p>
<h2 id="local-development">Local development</h2>
<p>▼ Install requirements</p>
<ul>
<li>Install <code>node 10.18.1</code></li>
<li>Install <code>yarn</code> globally</li>
</ul>
<pre><code>npm install -g yarn</code></pre>
<p>▼ Run the app in dev mode</p>
<pre><code>npm run start:dev</code></pre>
<p>Then the app will be available at <code>http://localhost:3000</code>. It uses <code>nodemon</code> so that any changes in the source code will be detected and the server will be restarted on change.</p>
<h2 id="the-config">The config</h2>
<p>The configuration for our app is stored in <code>xero-extractor/src/config.js</code>. It will have the following parameters:</p>
<ul>
<li><code>NODE_ENV</code>: <code>production</code> or <code>development</code></li>
<li><code>PORT</code>: The port to be listened on. In dev, it’s 3000</li>
<li><code>CLIENT_ID</code>: Client id from Xero. This is the client id from the app we created on Xero (see https://github.com/XeroAPI/xero-node#readme)</li>
<li><code>CLIENT_SECRET</code>: Client secret from Xero, see https://github.com/XeroAPI/xero-node#readme about how to get it</li>
<li><code>XERO_API_ENDPOINT_V2</code>: “https://api.xero.com/api.xro/2.0”</li>
<li><code>LOG_DIR</code>: The directory where we store logs from our application</li>
<li><code>COMBINED_LOG_FILENAME</code>: The name of the file where all logs will go to</li>
<li><code>ERROR_LOG_FILENAME</code>: The nameof the file where only error logs go to</li>
<li><code>OUTPUT_DIR</code>: The path to the folder where we store the data points extracted from Xero</li>
</ul>
<p>The <code>config.js</code> is just a symlink to the real config file. In development mode it is symlinked to <code>xero-extractor/src/config.dev.js</code>. In production mode, you will have to somehow link the real production configuration file here.</p>
<p>In order to test, you have to create your own app from Xero portal, using current values in the config file might not work.</p>
<h2 id="using-conda">Using conda</h2>
<p>Normally, getting the exact node version on your system can be a problem. If you try to use system’s package manager, such as <code>apt</code> on Ubuntu, it’s hard to get the exact version. Secondly, the global node environment will be polluted with many global packages and it can cause conflict.</p>
<p>One solution is to use node version manager tools such as <code>nvm</code> or <code>n</code>. However, even these tools are not good enough because even though you can get the exact node version, you still have the issue of global environment pollution. Python <code>virtualenv</code> style is a good solution to deal with this.</p>
<p>In fact, we have the option use Python tool <code>conda</code> and <code>nodeenv</code> Python package to setup our development environment. First, install <code>conda</code> following the instruction here: <a href="https://docs.conda.io/projects/conda/en/latest/user-guide/install/">https://docs.conda.io/projects/conda/en/latest/user-guide/install/</a>, any version is fine.</p>
<p>Setup <code>conda</code> environment</p>
<pre><code>cd xero-extractor
conda env create -f condaenv.yml</code></pre>
<p>After this, a virtual Conda environment will be created with the name <code>xero-test</code>. This environment is contained in a folder and does not affect your system’s Python. In this environment, we already have <a href="https://github.com/ekalinin/nodeenv">https://github.com/ekalinin/nodeenv</a>, which is a Python tool to manage virtual environments for Node.js</p>
<p>Activate <code>conda</code> environment</p>
<pre><code>conda activate xero-test</code></pre>
<p>Install <code>node</code> to the <code>conda</code> virtual environment</p>
<pre><code>nodeenv --node=10.18.1 -p</code></pre>
<p>After this, you have <code>node</code> 10.18.1 installed into the self-contained <code>conda</code> environment and it does not affect your system’s <code>python</code> nor <code>node</code>. Everytime you want to use this environment you will run <code>conda activate xero-test</code>. Then you can follow the instructions above to run the app.</p>
<h2 id="using-docker-for-dev">Using docker for dev</h2>
<p>Using <code>conda</code> is ok for <code>node</code> alone, but if our app requires more dependencies, it will be problematic to install directly on host computer. A better choice is to use containers.</p>
<p>First install <code>docker</code> following this instruction (https://docs.docker.com/install/)</p>
<p>Then use <code>docker-compose</code> to build our service and bring it up</p>
<pre><code>docker-compose -f docker-compose.dev.yml --build
docker-compose -f docker-compose.dev.yml up</code></pre>
<p>The new container will expose port 3000 to the host. The source code is shared with the container so we can continue to modify our source code on the host and the changes will be reflected in the docker container</p>
<p><strong>Note</strong>: It’s better to either develop on host or on Docker environment, but not both. The reason is the <code>node_modules</code> folder is shared between host and container, but the packages inside of it will be different when running <code>npm install</code> or <code>yarn install</code> on host vs on docker container, so the packages might be easy to be messed up after a while.</p>
<h2 id="testing">Testing</h2>
<h3 id="linting">Linting</h3>
<p>This project use <code>eslint</code> for static analysis.</p>
<p>To run eslint:</p>
<pre><code>npm run lint</code></pre>
<p>Modify <code>.eslintrc.json</code> if needed.</p>
<h3 id="unit-tests">Unit tests</h3>
<p>Unit tests are in <code>xero-extractor/tests/unit</code>. They use <code>mocha</code> with <code>chai</code> for BDD style tests.</p>
<p>The test tokens are stored in <code>xero-extractor/tests/unit/tokens.json</code> and the test config is stored in <code>xero-extractor/tests/unit/config.js</code></p>
<p>Everytime the tests are ran, we refresh tokens and write them back to <code>xero-extractor/tests/unit/tokens.json</code> so that it can still be used next time.</p>
<p>To get the initial set of tokens for the first time, you can use the sample app <a href="https://github.com/XeroAPI/xero-node-oauth2-app">https://github.com/XeroAPI/xero-node-oauth2-app</a>, then update the property <code>refresh_token</code> in <code>xero-extractor/tests/unit/tokens.json</code> and <code>XERO_TENANT_ID</code> in <code>xero-extractor/tests/unit/config.js</code></p>
<h3 id="containerized-testing">Containerized testing</h3>
<p>Containerized testing will minimize the burden of setup on host, and even though it’s a little bit slower (due to the container start time), it’s still pretty fast.</p>
<p>To test our app on Docker container, we have a docker compose file <code>docker-compose.test.yml</code>, which is the same as <code>docker-compose.dev.yml</code>, except the final command is <code>npm test</code> instead of <code>npm run start:dev</code></p>
<p>To run unit test on container:</p>
<pre><code>docker-compose -f docker-compose.test.yml build # run once only

docker-compose -f docker-compose.test.yml run --rm web</code></pre>
<h3 id="integration-tests">Integration tests</h3>
<p>Integration tests haven’t been implemented yet.</p>
<p>One option is to use tool like <code>postman</code>. It can also be a good way to document the API. One example is given in <code>xero-extractor/tests/integration/xero-test.postman_collection.json</code></p>
<h2 id="running-on-production">Running on production</h2>
<p>On production, we should run the following command</p>
<pre><code>NODE_ENV=production node dist/index.js</code></pre>
<p>Remember to change the <code>dist/config.js</code> accordingly for production environment</p>
<p>Since <code>node</code> is single thread, we should use another process manager which will help spawning multiple node process to utilize the multi cores of the CPU and also make sure the process is restarted if needed, for instance, <code>pm2</code>, <code>forever</code></p>
<p>There also a <code>Dockerfile</code> if we want to deploy the app on contaners. It has a simple health check to be used with other ocherstration tools.</p>
<h1 id="application-design-and-consideration">Application design and consideration</h1>
<ul>
<li>Output file
<ul>
<li>I decided to save the whole response from Xero, not just the array of Accounts or Contacts, because the other parts of the response might have useful information for later use.</li>
</ul></li>
<li>Why web service
<ul>
<li>For a one-off extraction task we have 2 choices: 1. Make it a short-running task, or 2. Make it a long-running task constantly expecting an event to do its job</li>
<li>Either way is fine. If it’s a short-running task, we can deploy it on something like Amazon Lambda. If it’s a long running task, we deploy it on Amazon ECS.</li>
<li>I haven’t used the Amazon services so I don’t know if one is more expensive or advantageous over the other. Maybe Lambda will take a little bit longer to run due to the cold-start, but it doesn’t seem that we need near real-time response in the case of Xero Extractor</li>
</ul></li>
<li><p>Api rate limiting: It could be done inside our service, but can also be done outside at the API gateway or something. Since this is an internal service with a limited usecase only for Xero, letting Xero API themselves handle rate limit is Ok.</p></li>
<li><p>No authentication, authorization, relaxed network security because the service is used internally.</p></li>
<li><p>The service won’t try to spawn multiple processes to utilize CPU cores because it is assumed that some external manager will do that, either at host level or container level.</p></li>
</ul>
<h1 id="things-that-can-be-improved">THINGS THAT CAN BE IMPROVED</h1>
<ul>
<li>Architecture
<ul>
<li>Maybe using a message queue for these type of application is better.</li>
</ul></li>
<li>Output file
<ul>
<li>Maybe add a way to choose output target, i.e. Amazon S3.</li>
<li>Add version to output file so that later on we can change its format and be able to still parse the old files.</li>
</ul></li>
<li>Logging
<ul>
<li>There should be some way to generate uuid for each request and attach it to the log so we can track request flow</li>
<li>We should log to a log server, or a log process should watch the log files and pick up generated log lines.</li>
<li>Fatal log, crash logs, and crashes themselves should be sent to a error reporting service somehow. There should be something that monitors the application performance</li>
</ul></li>
<li>Health check
<ul>
<li>Should really check if the service can function properly, i.e. check its dependencies</li>
</ul></li>
<li>API
<ul>
<li>Should verify parameters and send back more sensible errors</li>
<li>Maybe should have a way to choose response format based on Accept header</li>
</ul></li>
<li>Project structure could be improved
<ul>
<li>When the project gets more features, we should switch to specific style, where we have separate folder for controllers, views, models, etc.</li>
</ul></li>
<li>Tests
<ul>
<li>Tests should show coverage percentage</li>
<li>Tests should not be fragile. We should have a dedicated test company just for tests instead of using the demo company because the data in Demo Company can be changed by Xero anytime</li>
<li>Even so, there can still be problems with many tests running against the test company if some of them have side effects such as tests for update, deletion, addition</li>
</ul></li>
</ul>
<h1 id="references">REFERENCES</h1>
<ul>
<li>Options to test organizations: https://developer.xero.com/documentation/getting-started/development-accounts</li>
<li>Oauth2 flow: https://developer.xero.com/documentation/oauth2/auth-flow</li>
</ul>
